@model IEnumerable<RealMadridStore.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "AllProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>All Products</h1>*@

@if (User.IsInRole("Admin")) { 
<p>
    <a asp-action="CreateProduct">Create New</a>
</p>
}

<div class="container py-4">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0 p-4" style="background-color: #f1f1f1;">

                <div class="card ">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name" style="height: 450px" />
                    <div class="card-body mb-0">
                        <div class="d-flex justify-content-between mb-2">
                            <h5 class="mb-0">@item.Name</h5>
                            <h5 class="text-dark mb-0">@item.Price JD</h5>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-muted mb-0">Available: <span class="fw-bold">Quantity</span></p>
                        </div>
                        <div class="text-warning d-flex justify-content-between mb-2">
                            <a asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Add To Cart</a>
                            <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Details</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Edit</a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
